<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Titre</title>

    <!-- Ajoutez ces liens pour inclure Bootstrap et jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




</head>

<body>

    <header>

        <nav>

            <div id="logo">
                <i class="bi bi-luggage-fill"></i>
                Co&Co
            </div>
            <ul class="navigation-menu">
                <li>
                    <a [routerLink]="['/admin/home']">Home</a>
                    <ul class="subnav">

                    </ul>
                <li>
                    <a [routerLink]="['/admin/reservations']">
                        Reservations</a>
                    <ul class="subnav">

                    </ul>

                <li><a [routerLink]="['/admin/gestion-annonces']">Ads</a>
                    <ul class="subnav">

                    </ul>

                    <li><a [routerLink]="['/admin/products']">Products</a>
                        <ul class="subnav">
    
                        </ul>
                        <li><a [routerLink]="['/admin/orders']">Orders</a>
                            <ul class="subnav">
        
                            </ul>
            
            </ul>
            <div id="utility">




            </div>



        </nav>
    </header>

</body>