
<div class="container">
    <h2>Create Profile</h2>
    <form (ngSubmit)="createProfile()" enctype="multipart/form-data">
        <div class="form-group">
            <label for="Image">Image</label>
            <input type="file" required (change)="onFileChange($event)">
                  </div>
      <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="profileData.description" required>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" name="age" [(ngModel)]="profileData.age" required>
      </div>
      <div class="form-group">
        <label for="preferencesRecherche">preferencesRecherche</label>
        <input type="text" class="form-control" id="preferencesRecherche" name="preferencesRecherche" [(ngModel)]="profileData.preferencesRecherche" required>
      </div>
      <div class="form-group">
        <label for="localisation">Localisation</label>
        <textarea class="form-control" id="localisation" name="localisation" rows="3" [(ngModel)]="profileData.localisation" required></textarea>
      </div>
      
      <!-- You can add more fields here as per your profile data structure -->
      <button type="submit" class="btn btn-primary">Create Profile</button>
    </form>
  </div>
  