
<header>
    <div class="banner">Bénéficiez d'une réduction de plus de 50%.</div>
    
    <nav>
          
        <div id="logo">
            <i class="bi bi-luggage-fill"></i>
            Co&Co
        </div>
        <ul class="navigation-menu">
            <li><a >Home</a>
                <ul class="subnav">
 
                </ul>


            <li><a href="#">Services</a>
                <ul class="subnav">
                    <li class="card-med" id="serv-groom">
                        <div class="card-image"><a href="https://imgbb.com/"><img src="https://i.ibb.co/19R91NJ/quirky-real-estate-house-with-a-key-1.png" alt="quirky-real-estate-house-with-a-key-1" border="0"></a></div>
                        <a href="#">
                            <span>colocation</span>
                            <span>More Info <i class="bi bi-arrow-right"></i></span>
                        </a>
                    </li>
                    <li class="card-med" id="serv-board">
                        <div class="card-image"><a href="https://imgbb.com/"><img src="https://i.ibb.co/89c6fM4/transistor-man-traveling-by-car-with-dog.png" alt="transistor-man-traveling-by-car-with-dog" border="0"></a></div>
                        <a href="#">
                            <span>covoiturage</span>
                            <span>More Info<i class="bi bi-arrow-right"></i></span>
                        </a>
                </ul>
            </li>
            <li><a href="#locate">Locations &amp; Hours</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            

        </ul>
        <div id="utility">

                <li class="card-med" id="serv-board"><a  > <i class="bi bi-cart"></i></a></li> 
                <li class="card-med" id="serv-board"><a  routerLinkActive="active" > <i class="bi bi-person-fill"></i></a></li>
                
                
             
        </div>


        
    </nav>
</header>




<h2 class="d-flex justify-content-center m-5"><i class="bi bi-car-front"></i> Annonce </h2>

<section class="cards-wrapper">
  <div *ngIf="annonces && annonces.length > 0">
    <div class="card-grid-space" *ngFor="let annonce of annonces">
      <div class="card" [style.backgroundImage]="'url(' + annonce.image + ')'">
        <div>
          <h1>{{ annonce.titre }}</h1>
          <p>{{ annonce.placesDisponibles }}</p>
          <button type="button" (click)="deleteAnnonce(annonce.userId, annonce.ida)">Delete</button>
          <button type="button" (click)="navigateToUpdatePage(annonce.ida)">Update</button>

        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!annonces || annonces.length === 0">
    <p>No annonce found for the current user.</p>
  </div>
</section>
