<section id="statics">
    <div>
      <h2>Stats</h2>

      <div class="container" style="display: flex;">
      
        <div class="panel comment">
          <a href="javascript:void();"><span>{{nbrAnnonce}} </span>Ads</a>
        </div>
        <div class="panel page">
          <a href="javascript:void();"><span>{{nbrResv}} </span>Reservations</a>
        </div>

        <div class="panel comment">
          <a href="javascript:void();"><span>{{nbrOrders}} </span>Orders</a>
        </div>

        <div class="panel page">
          <a href="javascript:void();"><span>{{nbrProducts}} </span>Products</a>
        </div>


      </div>

    </div>

  </section>
